*
{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #557b83;
    color: #1e2729;
    text-align: justify;
}

nav
{
    height: 10%;
    width: 100%;
    background-color: #39AEA9;
    display: inline-block;
    text-align: center;
}

.TituloHeader
{
    background-color: #39AEA9;
    text-align: center center;
    padding: 2rem;
}

article
{
    height: 170%;
    width: 80%;
    background-color: #E5EFC1;
    display: block;
    position: center;
    margin: 0 10%;
    padding: 1em;
    text-align: justify;
}

p
{
    margin: 1.5em;
    padding: 1.5 rem;
    text-align: justify;
    background-color: #E5EFC1;
}

footer
{
    height: 5%;
    width: 100%;
    background-color: #39AEA9;
    display: inline-block;
    position:bottom;
}


.FP
{
    font-size: 9px;
    text-align: right;
    background-color: #39AEA9;
    display: inline-block;
}

h2
{
    text-align: center;
    background-color: #E5EFC1;
    padding: 1rem;

}

h3
{
    text-align: center;
    background-color: #E5EFC1;
    padding: 1rem;
    
}

.MiniTitulo
{
    color: #557b83;
    background-color: #E5EFC1;
}